# Prerequisites
*.d

# Object files
.o

# Linker output
.exe

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)
*.odg#

# Executables

# Debug files

# Kernel Module Compile Results
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.odg#
*.odg#
bERNARDO dRIVER mASSACRETION/obj/Debug/matematica.o
bERNARDO dRIVER mASSACRETION/bERNARDO dRIVER mASSACRETION.depend
bERNARDO dRIVER mASSACRETION/bin/Debug/bERNARDO dRIVER mASSACRETION.exe
*.o
