# Prerequisites
*.d

# Object files
.o

# Linker output
.exe

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)
*.odg#
.layout

# Executables

# Debug files

# Kernel Module Compile Results
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.odg#
*.odg#
